################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/FileCheck/.vs/FileCheck
/FileCheck/FileCheck/obj
/FileCheck/FileCheckDebug/obj/Release
/FileCheck/FileCheckDebug/obj/Debug
/FileCheck/FileCheck/bin/Debug/netstandard2.0
/FileCheck/FileCheckDebug/bin/Debug
/FileCheck/FileCheck/bin/Release/netstandard2.0
