################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/FileCheck/.vs/FileCheck
/FileCheck/FileCheck/obj
/FileCheck/FileCheckDebug/obj/Release
/FileCheck/FileCheckDebug/obj/Debug
